body {
    font-family: Arial, sans-serif;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    text-align: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-item {
    width: 20%;
}

button {
    padding: 10px 20px;
}